{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Home{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
    {% thumbnail "main/img/cystern.png" "480x216" as im %}
        <div class="d-flex flex-wrap align-items-center justify-content-center mb-2">
            <img src="{{ im.url }}">
        </div>
    {% endthumbnail %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-9">
                <ul class="list-group">
                    {% if perms.okulickiego.view_dostawaokulickiego %}
                    <li class="list-group-item"><a
                            class="list-group-item list-group-item-action list-group-item-primary"
                            href="{% url 'okulickiego:dost_okuli' %}">Okulickiego</a></li>
                    {% endif %}
                    {% if perms.rudna.view_dostawarudna %}
                    <li class="list-group-item"><a
                            class="list-group-item list-group-item-action list-group-item-primary"
                            href="{% url 'rudna:dost_rudna' %}">Rudna</a></li>
                    {% endif %}
                    {% if perms.wola.view_dostawawola %}
                    <li class="list-group-item"><a
                            class="list-group-item list-group-item-action list-group-item-primary"
                            href="{% url 'wola:dost_wola' %}">Wola</a></li>
                    {% endif %}
                    {% if perms.armii.view_dostawaarmii %}
                    <li class="list-group-item"><a
                            class="list-group-item list-group-item-action list-group-item-primary"
                            href="{% url 'armii:dost_armii' %}">Armii</a></li>
                    {% endif %}
                    {% if perms.armii.view_dostawarzecha %}
                    <li class="list-group-item"><a
                            class="list-group-item list-group-item-action list-group-item-primary"
                            href="{% url 'rzecha:dost_rzecha' %}">Rzecha</a></li>
                    {% endif %}
                    {% if perms.armii.view_dostawasikorskiego %}
                    <li class="list-group-item"><a
                            class="list-group-item list-group-item-action list-group-item-primary"
                            href="{% url 'sikorskiego:dost_sikorskiego' %}">Sikorskiego</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}